<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vivan.info.world.cooldevcomp">

    <application
       android:name="com.vivan.info.world.vivdevcomp.masterpackage.MyAppClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cooldevcomp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.vivan.info.world.vivdevcomp.masterpackage.MasterActivity"/>
        <activity android:name="com.vivan.info.world.vivdevcomp.masterpackage.VideoActivity"/>
        <activity android:name="com.vivan.info.world.vivdevcomp.masterpackage.YoutubeActivity"/>
        <activity android:name="com.vivan.info.world.vivdevcomp.masterpackage.WebActivity"/>



    </application>

</manifest>